<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find bitathome_navigation_control)/maps/blank_map.yaml"/>

  <!-- Launch move_base and load all navigation parameters -->
  <include file="$(find bitathome_navigation_control)/launch/move_base.launch" />
  
  <!-- Run a static transform between /odom and /map -->

</launch>
