<launch>
  <include file = "$(find bitathome_navigation_control)/launch/my_move_base_navigation.launch" />
  <include file = "$(find bitathome_navigation_control)/launch/foot_follow.launch" />
  <node name="order_Publisher" pkg="bitathome_navigation_control" type="listen_order.py"/>
  <node name="navigation_start" pkg="bitathome_navigation_control" type="navigation.py"/>
</launch>
